form{
  position: relative;
  width: 420px;
  height: 270px;
  background: #8B1E2E;
  box-sizing: border-box;
  margin-left:auto;
  margin-right:auto;
  margin-top:150px;
  padding: 20px 8px 8px;

}

form #codigo-generado{
  display: block;
  width: 400px;
  height: 100px;
  background: #fff;
  text-align: center;
  font-size: 40px;
  font-family: 'Rock Salt', cursive;

}

form #codigo-ingresado{
  display: inline-block;
  width: 195px;
  height: 105px;
  margin-top: 20px;
  background: #F9E777;
  font-size: 25px;
}

#load{
  position: absolute;
  top: 157px;
  right: 166px;
  font-size: 27px;
  color:#fff;
  cursor: pointer;
}

#check{
  position: absolute;
  top: 189px;
  right: 164px;
  font-size: 30px;
  color: #fff;
}

form img{
  position: absolute;
  width: 138px;
  right: 8px;
  bottom: 47px;
}
